<div class="card">
  <div class="card-header bg-primary">
    <a [routerLink]="['/tramite']">
      <input type="button" value="Regresar" class="btn btn-info">
    </a>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-9">
                Informacion Detallada del Tramite
              </div>
              <div class="col-md-3">Tramite: {{tramite.cveTramite}}</div>
            </div>
          </div>
          <div class="card-body">
            <table class="table detalle">
              <tr>
                <td>Folio fiscal</td><td>{{tramite.Folio_fiscal}}</td>
              </tr>
              <tr>
                <td>Usuario que emitio el tramite</td><td>{{nombre}}</td>
              </tr>
              <tr>
                <td>Fecha trámite</td><td>{{tramite.Fecha_emision}}</td>
              </tr>
              <tr>
                <td>Importe</td><td>{{tramite.Importe | currency}}</td>
              </tr>
              <tr>
                <td>Tipo</td>
                <td>{{tramite.Tipo_descripcion}}</td>
              </tr>
              <tr>
                <td>Estatus</td><td>{{tramite.status}}</td>
              </tr>
            </table>
            Datos Emisor
            <table class="table detalle">
              <tr>
                <td>Emisor</td><td>{{tramite.Emisor}}</td>
              </tr>
              <tr>
                <td>RFC</td><td>{{tramite.E_rfc}}</td>
              </tr>
            </table>
            Datos Receptor
            <table class="table detalle">
              <tr>
                <td>Receptor</td><td>{{tramite.Receptor}}</td>
              </tr>
              <tr>
                <td>RFC</td><td>{{tramite.R_rfc}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-header">Documentos relacionados</div>
        </div>
        <div class="card-body">
          <a href="http://appfacturando.orthofam.com.mx/app/documentos{{tramite.urlPDF}}" target="_blank">
            <img src="../../../assets/pdf.png" alt="imagen" width="50" height="50">
            ver
          </a>
          <hr>
          <a href="http://appfacturando.orthofam.com.mx/app/documentos{{tramite.urlXML}}" target="_blank">
            <img src="../../../assets/xml.png" alt="imagen" width="50" height="50">
            ver
          </a>
        </div>
        <div class="card">
            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal">
                Listado de prefacturas
            </button>
        </div>
      </div>

    </div>
  </div>
</div>

 <!-- The Modal -->
 <div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title">Listado de prefacturas relacionadas con el tramite</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>N.</th>
                  <th>Prefactura</th>
                  <th>Folio</th>
                  <th>Fecha</th>
                  <th>Importe</th>
                  <th>EnviadoPago</th>
                </tr>
              </thead>
              <tbody *ngFor="let pref of prefacturas;let i=index">
                <tr>
                  <td>{{i+1}}</td>
                  <td>{{pref.Doc_clave}}</td>
                  <td>{{pref.REG_folio}}</td>
                  <td>{{pref.Doc_fecreg}}</td>
                  <td>{{pref.Doc_importe | currency}}</td>
                  <td *ngIf="pref.Doc_tipoAdmin != 'T' || pref.Doc_cobroMv != 'S' || pref.Doc_facturaMv != ''; else noEnviado ">
                    <div class="fa-x">
                      <i class="fa fa-check-square"></i>
                    </div>
                  </td>
                  <ng-template #noEnviado>
                    <td>
                      <div class="fa-x">
                        <i class="fa fa-times"></i>
                      </div>
                    </td>
                  </ng-template>
                  <td>
                      <input type="button" value="Ver" class="btn btn-info btn-sm" (click)="archivo(pref.Doc_clave)">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" *ngIf="quitar" (click)="eliminar()">Quitar</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
        </div>

      </div>
    </div>
  </div>
<!-- Fin modal -->
