<div class="card">
  <div class="card-header bg-primary text-white">
    <h6>Prefacturas que se relaciona con tu (CFDI)</h6>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            Prefacturas Selecionadas:
            <h2>{{totalPre}}</h2>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            Total de Importe:
            <h2>
              <i class="fas fa-spinner fa-pulse" *ngIf="load"></i>
              {{total | currency }}
            </h2>
          </div>
        </div>
      </div>

    </div>
    <br>

  <!-- Modal -->
    <div style="height: 100px;">
      <div *ngIf="facturas != '' " style="height: 100px; overflow: auto;">
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <td>Prefactura</td>
              <td>Lesionado</td>
              <td>Folio</td>
              <td>Fecha</td>
              <td>Importe antes de impuesto</td>
            </tr>
          </thead>
          <tbody *ngFor="let factura of prefacturas">
            <tr>
              <td>{{factura[0].Doc_serie}}_{{factura[0].Doc_clave}}</td>
              <td>{{factura[0].REG_nombrecompleto}}</td>
              <td>{{factura[0].REG_folio}}</td>
              <td>{{factura[0].Doc_fecreg}}</td>
              <td>{{factura[0].Doc_importe}}</td>
              <td>
                <input type="checkbox" name="check" class="checkbox" value="{{factura[0].Doc_clave}}"
                [(ngModel)]="factura.checked" (click)="seleccion($event)">
              </td>
            </tr>
          </tbody>
          <button type="button" class="btn btn-danger btn-sm" *ngIf="quitar" (click)="eliminar()">Quitar</button>
        </table>

      </div>
    </div>
  <hr>
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="alert alert-danger" *ngIf="errorXml">Archivo xml selecionado incorrectamente</div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="alert alert-danger alert-sm" *ngIf="errorPdf">Archivo pdf selecionado incorrectamente</div>
    </div>

    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label for="xml">Archivo xml</label>
        <input type="file" id="xml" class="btn btn-outline-secondary btn-sm form-control" [(ngModel)]="xml" (change)="cargarxml($event.target.files)" multiple required>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
          <label for="pdf">Archivo PDF</label>
          <input type="file" id="pdf" class="btn btn-outline-secondary btn-sm form-control" [(ngModel)]="pdf" (change)="cargarpdf($event.target.files)" multiple required >
        </div>
    </div>
  </div>

  <div class="fa-3x" *ngIf="cargando" style="text-align: center;">
    <i class="fa fa-spinner fa-pulse"></i>
  </div>

  <!-- <div class="card mb-2" *ngIf="activarDedudcible">
      <div class="card-body">
        <b>Tiene deducible ?</b>
        <div class="row">
          <div class="col-md-2">
            <input type="radio" name="appi" value="activo" (change)="aciveDeducible($event.target.value)">SI
          </div>
          <div class="col-md-2">
              <input type="radio" name="appi" value="inactivo" checked (change)="aciveDeducible($event.target.value)">NO
          </div>
          <div class="col-md-4">
            <form action="" *ngIf="digitarDeducible">
              <input type="number" placeholder="Deducuble" class="form-control" (input)="changeDeducible($event.target.value)" required>
            </form>
          </div>
        </div>
      </div>
  </div> -->

  <div class="row">
    <div class="col-sm-4 col-md-4">
      <input type="button" value="Regresar" class="btn btn-outline-danger btn-sm form-control"
      (click)="regresar()">
    </div>
    <div class="col-sm-4 col-md-4">
      <input type="button" value="Validar documentos" class="btn btn-outline-primary btn-sm form-control"
      (click)="validar()" >
    </div>
    <div class="col-sm-4 col-md-4">
        <input type="button" value="Finalizar" class="btn btn-outline-success btn-sm form-control" *ngIf="validado" (click)="finalizar()">
        <input type="button" value="Finalizar" class="btn btn-outline-success btn-sm form-control" *ngIf="!validado" disabled>
    </div>
  </div>
  </div>
</div>
