<nav id="sidebar" *ngIf="_service.Auth()">
  <div class="sidebar-header">
      <h2>Menú</h2>
  </div>

  <ul class="list-unstyled components" *ngIf="_service.authTipo() == '1' ">
      <li [routerLinkActive]="['active']">
          <a [routerLink]="['home']">Registrar Tramite</a>
      </li>
      <li [routerLinkActive]="['active']">
          <a [routerLink]="['tramite']" >Buscar Tramite</a>
      </li>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['consulta']">Estatus Tramite</a>
      </li>
  </ul>
  <ul class="list-unstyled components" *ngIf="_service.authTipo() == '2'">
      <li [routerLinkActive]="['active']">
          <a [routerLink]="['autorizacion']">Registrar Tramite</a>
      </li>
      <li [routerLinkActive]="['active']">
          <a [routerLink]="['tramiteAutorizacion']">Tramites</a>
      </li>
  </ul>
  <ul class="list-unstyled components" *ngIf="_service.authTipo() == '3'">
      <li>
          <a [routerLink]="['administrador']">Listado</a>
      </li>
      <li>
          <a [routerLink]="['estatus']">Estatus</a>
      </li>
  </ul>
</nav>
