<div class="col-lg-8">
  <div class="card">
    <div class="card-header">
      <h5>Cambiar Contraseña</h5>
    </div>
    <div class="card-body">
      <form #passwordForm=ngForm (ngSubmit)="onSubmit(passwordForm)">
        <div class="form-group">
          <input type="text" placeholder="Contraseña actual" class="form-control" name="actual"
          #actual="ngModel" [(ngModel)]="form.actual" required>
        </div>
        <div class="form-group">
          <input type="text" placeholder="Nueva contraseña" class="form-control" name="nueva"
          #nueva="ngModel" [(ngModel)]="form.nueva" required>
        </div>
        <div class="form-group">
          <input type="text" placeholder="Confirmar contraseña" class="form-control" name="confirmar"
          #confirmar="ngModel" [(ngModel)]="form.confirmar" required>
        </div>
        <div class="btn-group">
          <a [routerLink]="['/home']">
            <input type="button" class="btn btn-danger" value="Cancelar">
          </a>
          <input type="submit" class="btn btn-success" value="Cambiar contraseña" [disabled]="!passwordForm.form.valid">
        </div>
      </form>
    </div>
  </div>
</div>
