<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="_service.Auth()">
  <div class="container-fluid">

      <button type="button" id="sidebarCollapse" class="navbar-btn">
          <span></span>
          <span></span>
          <span></span>
      </button>
      <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
      </button>

      <!-- Navbar -->

      <!-- End Navbar -->

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
                <div class="container-fluid" style="margin: 10px;">
                  <ul class="nav navbar-nav navbar-right">
                    <li>
                    <div class="dropdown">
                      {{_service.authDatos()}}
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownmenu1" data-toggle="dropdown" aria-extented="true">
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="nemu" aria-labelledby="dropdownmenu1">
                        <li *ngIf="_service.authTipo()==1">
                          <a [routerLink]="['password']">Cambiar Contraseña.</a>
                        </li>
                        <li class="divider"></li>
                        <li (click)="logout()" style="cursor: pointer;">
                          <a>Salir.</a>
                        </li>
                      </ul>
                    </div>
                    </li>
                  </ul>

                </div>
          </ul>
      </div>
  </div>
</nav>

