<div class="row">
<div class="col-md-3">
  <div class="card">
    <div class="card-body">
      <div class="fa-3x" *ngIf="cargando">
          <i class="fas fa-spinner fa-pulse"></i>
      </div>
      <div class="card" *ngFor="let tipo of tipos" style="margin-top: 10px;" (click)="detalle(tipo.idPUStatusTramite)">
        <div class="card-header bg-primary">
          {{tipo.statusTramite_desc}}
        </div>
        <div class="card-body">
          <h4>{{totales[tipo.idPUStatusTramite]}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-9" *ngIf="tramites != null ">
  <div class="card" >
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Folio fiscal</th>
              <th>Subtotal</th>
              <th>Total</th>
              <th>Importe</th>
              <th>Fecha</th>
              <th>Estatus</th>
            </tr>
          </thead>
          <tbody *ngFor="let tramite of tramites">
            <tr>
              <td>{{tramite['Folio_fiscal']}}</td>
              <td>{{tramite.SubTotal}}</td>
              <td>{{tramite.Total}}</td>
              <td>{{tramite.Importe}}</td>
              <td>{{tramite.fechaTramite}}</td>
              <td>{{tramite.statusTramite_desc}}</td>
              <td *ngIf="tramite.idPUStatusTramite == 3 || tramite.idPUStatusTramite == 4">
                <input type="button" class="btn btn-success" value="Visto bueno">
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
