<div class="row">
<div class="col-md-3">
  <div class="card">
    <div class="card-body" style="background: #eaf0f3;">
      <div class="fa-3x" *ngIf="cargando">
          <i class="fas fa-spinner fa-pulse"></i>
      </div>
      <p class="font-weight-light">Estatus trámite</p>
      <hr>
      <div *ngFor="let tipo of tipos" style="margin-top: 10px;" (click)="detalle(tipo.idPUStatusTramite)">
          <a class="btn btn-outline-primary btn-block text-black text-left" id="texto">
            {{tipo.statusTramite_desc}}
            <span class="badge badge-{{tipo.color}} float-right">
                {{totales[tipo.idPUStatusTramite]}}
            </span>
          </a>
      </div>
    </div>
  </div>
</div>

<div class="col-md-9" *ngIf="tramites != null ">
  <div class="card" >
    <div class="card-body">

      <div class="row mb-2">
        <div class="col-md-4 col-ms-4 p-0">
          <input type="text" class="form-control form-control-sm" placeholder="Busqueda por folio fiscal"
          (input)="busquedaGenStatus($event.target.value)">
        </div>
        <div class="col-md-4 col-ms-4 p-0">
          <input type="date" class="form-control form-control-sm" placeholder="Realizar busqueda" [(ngModel)]="seleccionar.fecha"
          (input)="busquedaPorFecha($event.target.value)">
        </div>
        <div class="col-md-2 col-sm-2">
          <input type="button" class="btn btn-primary btn-sm" value="Limpiar" (click)="limpiarCajas()">
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th>N.</th>
              <th>Folio fiscal</th>
              <th>Subtotal</th>
              <th>Total</th>
              <th>Fecha</th>
              <th>Estatus</th>
            </tr>
          </thead>
          <tbody *ngFor="let tramite of tramites |  paginate: {itemsPerPage:10,currentPage:pageNum};let i=index">
            <tr style="font-size: 12px;">
              <td>{{i + 1}}</td>
              <td>{{tramite['Folio_fiscal']}}</td>
              <td>{{tramite.SubTotal | currency}}</td>
              <td>{{tramite.Total | currency}}</td>
              <td>{{tramite.fechaTramite}}</td>
              <td>{{tramite.statusTramite_desc}}</td>
              <td *ngIf="tramite.idPUStatusTramite == 3 || tramite.idPUStatusTramite == 4">
                <div class="btn-group">
                  <a [routerLink]="['/detalle-admin',tramite['Folio_fiscal']]">
                    <input type="button" value="Ver" class="btn btn-info btn-sm">
                  </a>
                  <input type="button" class="btn btn-success btn-sm" value="Vobo" (click)="vobo(tramite['cveTramite'])">
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="pageNum = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
</div>
