<div class="card">
  <div class="card-header bg-primary">
    Tramites
  </div>
  <div class="card-body">
    <div class="fa-3x" *ngIf="cargando">
      <i class="fas fa-spinner fa-pulse"></i>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Folio fiscal</th>
          <th>RFC(emisor)</th>
          <th>RFC(receptor)</th>
          <th>Fecha emision</th>
          <th>Importe</th>
          <th>Estatus</th>
        </tr>
      </thead>
      <tbody *ngFor="let tramite of tramites">
        <tr>
          <td>{{tramite.Folio_fiscal}}</td>
          <td>{{tramite.Emisor}}</td>
          <td>{{tramite.Receptor}}</td>
          <td>{{tramite.Fecha_emision}}</td>
          <td>{{tramite.Importe}}</td>
          <td>{{tramite.status}}</td>
          <td>
            <a [routerLink]="['/detalle',tramite.Folio_fiscal]">
              <input type="button" value="detalle" class="btn btn-info btn-sm">
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
